main {
  width: 80%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

nav a:first-child {
  margin-right: 1rem;
}

.list header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list .pet:not(:last-child) {
  margin-bottom: 1rem;
}
